@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300&family=Courgette&family=Cousine&family=Josefin+Slab:ital,wght@1,300&family=Outfit:wght@500;600&family=Share+Tech&family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

:root {
    --white: #EDEEF7;
    --dark-cyan: #124D47;
    --cyan: #319DA0;
    --green: #1A4D2E;
    --red: #820000;
    --yellow: #FFB200;
    --blue: #002B5B;
}

body {
    font-family: 'Josefin Slab', serif;
    background-image: url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    color: var(--dark-cyan);
}

.background {
    background: rgba(12, 11, 11, 0.4);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9.4px);
    -webkit-backdrop-filter: blur(9.4px);
    border: 1px solid rgba(12, 11, 11, 0.3);
    min-width: 100vh;
}

.logo {
    width: 250px;
}

h1 {
    text-align: center;
    padding-top: 50px;
}

header {
    display: flex;
    justify-content: center;
}

.row-bandeiras {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 6em;
}

main .pais {
    text-align: center;
}

main .espaco-paises {
    padding: 2em 0;
}

main .img {
    height: 10rem;
    width: 16rem;
    margin-top: 5em;
}

main .btn {
    font-family: 'Josefin Slab', serif;
    display: flex;
    justify-content: center;
    padding: 1.5em 0;
    cursor: pointer;
    margin-top: 1.2em;
}

main .btn button {
    background: none;
}

main .btn a {
    color: var(--white);
    font-weight: bold;
    text-decoration: none;
    font-size: 1rem;
    background: none;
    padding: 1.2em 2.5em;
    border-radius: 30px;
    border: 1px solid var(--white);
    transition: 0.7s;
}

main .btn a:hover {
    border: none;
    font-size: 1.1rem;
}

main .btn .ale:hover {
    background-color: var(--yellow);
}
main .btn .br:hover {
    background-color: var(--green);
}
main .btn .es:hover {
    background-color: var(--red);
}
main .btn .eua:hover {
    background-color: var(--blue);
}
main .btn .fra:hover {
    background-color: var(--blue);
}
main .btn .ita:hover {
    background-color: var(--green);
}
main .btn .jap:hover {
    background-color: var(--red);
}
main .btn .mex:hover {
    background-color: var(--green);
}

footer p {
    padding: 30px 0 10px 0;
    color: var(--white);
    text-align: center;
    opacity: 0.5;
}